@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,800;1,500;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
* {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(img/fon2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.fon_1 {
    background-image: url(img/fon_1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header {

    display: flex;
    
}

.logo img {
    width: 100px;
    margin: 10px 0 0 10px;
}

.btn, .btn_ins {
    border: none;
    background: none;
    cursor: pointer;
}

.img_user {
    width: 60px;
    margin-top: 30px;
}

.img_user_block {
    width: 120px;
}

a {
    color: #b38b07;
    text-decoration: none;
}

.menu ul {
    margin: 45px 0 0 750px;
    width: 600px;
    font-size: 24px;
    font-style: italic;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.btn img {
    width: 60px;
    margin: 20px 0 10px 0;
}

.login:hover {
    color: rgba(255, 238, 7, 0.932);
}
.menu a:hover {
    color: rgba(255, 238, 7, 0.932);
}
.btn img:hover {
    width: 70px;
}

.main_form {
    display: flex;
    justify-content: center;
}

.form {
    flex-direction: row;
    color:bisque;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.336);
    font-family: 'Sacramento', serif;
    margin: 120px 0;
    border-radius: 10px;
    background-color: rgba(146, 146, 146, 0.466);
    text-align: center;
    padding: 30px 0;
}

.hr {
    margin: 10px 0;
}

.main_form input {
    font-size: 18px;
    margin: 20px 0;
    width: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}

.form_input {
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-family: 'Sacramento', cursive;
}

.button_del {
    background-color: #5e5e5ebe;
    border: none;
    font-family: 'Sacramento', cursive;
    width: 600px;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 22px;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 6px #000000;
    cursor: pointer;
}

button a {
    display: flex;
    justify-content: center;
    width: 100%;
}
.button_del:hover {
    background-color: rgba(255, 228, 196, 0.5);
}
.button_del a:hover {
    color: #444444;
}

.button_del:active {
    background-color: rgba(34, 92, 16, 0.459);
}
.button_del a:active {
    color: black;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contacts li, .info {
    font-size: 24px;
    list-style: none;
    
    margin: 10px 60px 10px 0;
    text-align: start;
}
.info {
    padding-left: 80px;
}

.info_2 {
    display: flex;
    
}

.form_center {
    display: flex;
    justify-content: center;
}

.img_info {
    width: 700px;
    display: flex;
    justify-content: center;
}

.img_info_block {
    display: flex;
    justify-content: center;
}

.img_info_1 {
    margin-left: 20px;
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.img_info_2 {
    margin-left: 50px;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.img_info img {
    margin: 20px 0;
    width: 52px;
}

.img_info img:hover {
    width: 64px;
}
