@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,800;1,500;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
* {
    font-family: 'EB Garamond', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(img/fon2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header {

    display: flex;
    
}

.logo img {
    width: 100px;
    margin: 10px 0 0 10px;
}

.btn, .btn_ins {
    border: none;
    background: none;
    cursor: pointer;
}

a {
    color: #b38b07;
    text-decoration: none;
}

.menu ul {
    margin: 45px 50px 0 800px;
    width: 600px;
    font-size: 24px;
    font-style: italic;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.btn img {
    width: 60px;
    margin: 20px 0 10px 0;
}

.login:hover {
    color: rgba(255, 238, 7, 0.932);
}
.menu a:hover {
    color: rgba(255, 238, 7, 0.932);
}
.btn img:hover {
    width: 70px;
}

.main_form {
    display: flex;
    justify-content: center;
}

.form {
    flex-direction: row;
    color:bisque;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.336);
}
